{% extends "layout.html" %}
{% block body %}

<h2>Edit {{ username }}'s profile:</h2>
  <form method="post" enctype="multipart/form-data">
    <h3>Icon:</h3>
    {%for i in icon%}
    <img src="/static/icons/{{i.icon}}" alt="{{i.icon}}" style="max-width:50%;">
    <br>
    {%endfor%}
    <input type="file" name="icon" required>
    <h3>Password:</h3>
    <table>
      <dd><input type="password" name="pass" required></dd>
    </table>
    <br>
    <input type="submit" value="Change Icon">
  </form>

{% endblock %}
