{% extends "layout.html" %}
{% block body %}

<h2>Edit {{ username }}'s profile:'</h2>
  <form method="post" enctype="multipart/form-data">
    <h3>Bio:</h3><br><br>
    {% for b in bio %}
    <textarea class="scrollabletextbox" name="bio">{{b.bio}}</textarea>
    {% endfor %}
    <h3>Icon:</h3><br><br>
    <input type="file" name="icon" required>
    <h3>Password:</h3><br><br>
    <table>
      <dt>Old:</dt>
      <dd><input type="password" name="pass_old" required></dd>
      <dt>New:</dt>
      <dd><input type="password" name="pass_new"></dd>
      <dt>Confirm New:</dt>
      <dd><input type="password" name="pass_new_confirm"></dd>
    </table>
    <input type="submit" value="Make Changes">
  </form>

{% endblock %}
