{% extends "layout.html" %}
{% block body %}


<h2> {{ username }} is Following: </h2>
    {% for row in user2 %}
    <p>
    {% if session.username == username %} 

     <a href="{{ url_for('profile', username=row.username) }}">{{ row.username }} </a> &nbsp; &nbsp;
    <a href="{{ url_for('unfollow_user', user_name=row.username)}}"> Unfollow? </a> 
    {%endif%}

    {% if session.username != username %} 
      <a href="{{ url_for('profile', username=row.username) }}">{{ row.username }} </a>
    {%endif%}  

    </p>
    {% endfor %}


{% endblock %}
