{% extends "layout.html" %}
{% block body %}

<h2>Home</h2>

  {% if session.username %}
    <h3>User Search</h3>
    <form action="{{ url_for('search') }}" method="post">
        <dl>
            <dt>Username:</dt>
            <dd><input type="text" size="40" name="username"></dd>
        </dl>
        <input type="submit" value="Search">
    </form>
  {% endif %}

<br>

{% if session.username %}
<form action="{{ url_for('followed_answers') }}" method="post">
    <input type="submit" value="View answers on topics I'm following and from people I'm following">
</form>
<br>
<form action="{{ url_for('following_qanda') }}" method="post">
    <input type="submit" value="View questions and answers from people I'm following">
</form>
<br>
{% endif %}

<form action="{{ url_for('questions') }}" method="post">
    <input type="submit" value="View all questions and answers">
</form>
<br>

{%if session.username %}
<h2>Questions from topics and people you follow</h2>
<br>
{% include "display_questions.html" %}
{% endif %}



{% endblock %}