{% extends "layout.html" %}
{% block body %}

<h2>{{ username }}'s profile</h2>


{% if session.username != username %}
 <a href="{{ url_for('follow_user', user_name=username)}}">follow</a>
{%endif%}
<br>
<p>    

{% if session.username != username %}
 <a href="{{ url_for('follow_user', user_name=username)}}">follow</a> &nbsp;
 <a href="{{ url_for('followers', username=username)}}">View {{ username }}'s followers</a>
{%endif%}

{% if session.username == username %}
    <!--<a href="{{ url_for('followers', username=session.username) }}">View My Followers</a> -->
    <a href="{{ url_for('followers', username=username)}}">View My Followers</a>
{%endif%}
<br>

<p>

  {%for b in bio%}
  <h3>Bio:</h3>
  {{b.bio}}
  {%endfor%}
  {%for i in icon%}
  <br>
  <br>
  <br>
  <img src="/static/icons/{{i.icon}}" alt="{{i.icon}}" style="max-width:50%;">
  {%endfor%}
</p>

<br>
<br>
<br>
{% if session.username %}
    {% if session.username == username %}
    <a href="{{ url_for('edit_profile', username=username)}}">Edit Profile</a>
    <a href="{{ url_for('bookmarks', username=username)}}">View bookmarked posts</a>
        <h3>Users similar to you:</h3>

          {% for user in similar %}
            <p>
            <a href="{{ url_for('profile', username=user.similar_user) }}">{{ user.similar_user }}</a>
            also blogs about <i>{{ ", ".join(user.tags) }}</i>
            </p>
          {% else %}
            <p>There aren't any users who've blogged about the same tags as you!</p>
          {% endfor %}

    {% else %}

  <p>{{ username }} has liked {{ common.likes }} of your posts and
      {% if common.tags %}
      also blogs about <i>{{ ", ".join(common.tags) }}</i>
      {% else %}
      hasn't blogged about any of the same tags
      {% endif %}
  </p>

    {% endif %}
{% endif %}

{% endblock %}
