{% extends "layout.html" %}
{% block body %}

    <ul class="answers">

    {% for ans_row in answers %}
        
    <h3>Answer to {{ ans_row.question_title }}</h3>

    <li>
        <b><a href="{{ url_for('profile', username=ans_row.answerer.username) }}">{{ ans_row.answerer.username }}</a></b>
        answered on {{ ans_row.answer.date }} 
        <a href="{{ url_for('upvote_answer', answer_id=ans_row.answer.id) }}">upvote ({{ans_row.answer.upvotes}})</a>
        <br>
        {{ ans_row.answer.text }}
        
        {% else %}
          <li>There aren't any answers to questions you follow yet!

    {% endfor %}
    </ul>

{% endblock %}