<!DOCTYPE html>

<html>
<head>
<meta name="viewport" content = "width=device-width, initial-scale=1">
	
	<title> Quora Lte Login Page</title>
	 <script src = "main.js"></script>
	<link rel="stylesheet" type="text/css" href="quiz.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1">
	
		<meta charset="utf-8">
	
	<style>
		body {
			background: url("cat.jpg");
			background-size: cover;
			background-position: center;
  			background-attachment: fixed;
			text-align: center;
		}
		
		form {
			
/*			border: 1px solid black;*/
			background-color: rgba(155, 153, 255,0.1);
			padding: 30px;
			text-align: center;
		}
		
		
		
		</style>
		
	
	
	</head>
	
	<body>
	<h1> Quoara Lte </h1>
		
		<h2>Login Page</h2>
		
	<h3> Ja, this is it.</h3>
	
		
		
		<br><br>
		
		<form onsubmit="return Validate()" id = "login1" name = "login1"> 
		
		
	 <div class="container">
					<div class = "row"> 
		 
		 <div class = "col-xs-12 col-sm-12"> 
		 <div class ="panel panel-default">
         <div class = "panel-body1">
		 
			 
<!--			 Username	-->
			 
    <label for="uname"><b>Username</b></label>
			 <br><br>
    <input type="text" placeholder="Enter Username" name="uname" required>
			
		   </div>
		   </div>
		</div>
		 
		  <div class = "col-xs-12 col-sm-12"> 
		 <div class ="panel panel-default">
               <div class = "panel-body">
		 
<!--				   Password   -->
	<br>			   
   <label for="psw"><b>Password</b></label>
				   <br><br>
    <input type="password" placeholder="Enter Password" name="psw" required>
				   <br><br>
        <input type="submit" id="logbut" value="Login">
    <label>
      <input type="checkbox" checked="checked" name="remember"> <b>Remember me</b> 
    </label>
				      
			   </div>
			   </div>		   
			</div>
		 </div>
			  </div>	   
				   
    

	
	</form>
	
	
	</body>
</html>