[project]
	description = RW334 Group Project.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group userid/19059019
[access "refs/for/refs/*"]
	read = group userid/19059019
	push = group userid/19059019
	label-Code-Review = -2..+2 group userid/19059019
	label-Verified = -1..+1 group userid/19059019
	rebase = group userid/19059019
	removeReviewer = group userid/19059019
	submit = group userid/19059019
[access "refs/heads/*"]
	read = group userid/19059019
	create = group userid/19059019
	push = +force group userid/19059019
	pushMerge = group userid/19059019
[access "refs/tags/*"]
	push = group userid/19059019
	push = +force group userid/19059019
